/* Hide scrollbar for Chrome, Safari and Opera */

.ha {
    height: 3rem;
    overflow: auto;
    word-wrap: break-word;
}

.scroll::-webkit-scrollbar {
    display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */

.scroll {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}